.App {
  font-size: 60px;
  /* padding: 20px; */
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btns-container {
  display: flex;
  justify-content: center;
  margin: 30px 0;
  gap: 15px;
}
.error {
  color: red;
}

input {
  margin: 10px 0;
}
